@model List<OnlineMovieTicket.BL.DTOs.Banner.BannerDTO>
<section class="my-4">
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            @foreach (var banner in Model.Select((banner, index) => new { banner, index }))
            {
                <div class="carousel-item @(banner.index == 0 ? "active" : "")">
                    <img src="@banner.banner.ImageUrl" class="d-block w-100" alt="@banner.banner.Title" />
                </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>
</section>