@{
    ViewData["Title"] = "Home Page";
}

<!-- Banner quảng cáo phim hot -->
<div id="banner-placeholder"></div>
<div id="movies-nowshowing-placeholder" class="container py-5"></div>
<div id="movies-commingsoon-placeholder" class="container py-5"></div>

<!-- Modal xem trailer -->
<div class="modal fade trailer-modal" id="trailerModal" tabindex="-1" aria-labelledby="trailerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="trailerModalLabel">Trailer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="stopTrailer()"></button>
            </div>
            <div class="modal-body">
                <div class="ratio ratio-16x9">
                    <iframe id="trailerIframe" src="" title="Movie Trailer" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        const urlGetBanners = '@Url.Action("GetBanners", "Home")';
        const urlGetMoviesCommingSoon = '@Url.Action("GetMoviesCommingSoon", "Home")';
        const urlGetMoviesNowShowing = '@Url.Action("GetMoviesNowShowing", "Home")';

        $(document).ready(function () {
            loadBanners();
            loadMoviesCommingSoon();
            loadMoviesNowShowing();
        });

        function showTrailer(youtubeUrl) {
            const embedUrl = youtubeUrl.replace("watch?v=", "embed/");
            $('#trailerIframe').attr('src', embedUrl + '?autoplay=1');
            
            var trailerModal = new bootstrap.Modal(document.getElementById('trailerModal'));
            trailerModal.show();
        }

        function stopTrailer() {
            $('#trailerIframe').attr('src', '');
        }

        function loadBanners() {
            $.ajax({
                url: urlGetBanners,
                type: 'GET',
                success: function (data) {
                    $('#banner-placeholder').html(data);
                },
                error: function (error) {
                    console.error("Error loading banners:", error);
                }
            });
        }

        function loadMoviesCommingSoon() {
            $.ajax({
                url: urlGetMoviesCommingSoon,
                type: 'GET',
                success: function (data) {
                    $('#movies-commingsoon-placeholder').html(data);
                },
                error: function (error) {
                    console.error("Error loading banners:", error);
                }
            });
        }

        function loadMoviesNowShowing() {
            $.ajax({
                url: urlGetMoviesNowShowing,
                type: 'GET',
                success: function (data) {
                    $('#movies-nowshowing-placeholder').html(data);
                },
                error: function (error) {
                    console.error("Error loading banners:", error);
                }
            });
        }

        
    </script>
}