@{
    ViewData["Title"] = "Home Page";
}

<div id="banner-placeholder"></div>
<div id="movies-nowshowing-placeholder" class="container py-5"></div>
<div id="movies-commingsoon-placeholder" class="container py-5"></div>

<div class="modal fade trailer-modal" id="trailerModal" tabindex="-1" aria-labelledby="trailerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="trailerModalLabel">Trailer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="stopTrailer()"></button>
            </div>
            <div class="modal-body">
                <div class="ratio ratio-16x9">
                    <iframe id="trailerIframe" title="Movie Trailer" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        const urlGetBanners = '@Url.Action("GetBanners", "Home")';
        const urlGetMoviesCommingSoon = '@Url.Action("GetMoviesCommingSoon", "Home")';
        const urlGetMoviesNowShowing = '@Url.Action("GetMoviesNowShowing", "Home")'
        
    </script>
    <script src="~/js/Home.js" asp-append-version="true"></script>
}