html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.mb-10px {
  margin-bottom: 10px !important;
}

.object-fit-cover {
  object-fit: cover;
}

.validation-message{
  display: block;
  min-height: 20px;
  margin-top: 3px;
}

