@{
    ViewData["Title"] = "SeatType Management";
}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">SeatType Management</h1>
</div>
<div class="row mb-3">
    <div class="col-md-3">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fas fa-search"></i>
                </span>
            </div>
            <input type="text" id="searchTerm" class="form-control" placeholder="Search by Name">
        </div>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table id="seatTypesTable" class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th class="text-center">
                            Price Multiplier
                        </th>
                        <th class="text-center">
                            Color
                        </th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div id="modalPlaceholder">
    <div class="modal fade" id="seatTypeModal" tabindex="-1" role="dialog" aria-labelledby="seatTypeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const urlGetSeatType = '@Url.Action("GetSeatTypes", "SeatType", new { area = "Admin" })';
        const urlEdit = '@Url.Action("Edit", "SeatType", new { area = "Admin" })';
    </script>
    <script src="~/Admin/js/SeatType.js" asp-append-version="true"></script>
}