@using Microsoft.AspNetCore.Identity
@using OnlineMovieTicket.DAL.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ApplicationUser? user = null;
    bool isAdmin = false;

    if (SignInManager.IsSignedIn(User))
    {
        user = await UserManager.GetUserAsync(User);
        isAdmin = await UserManager.IsInRoleAsync(user, "Admin");
    }
}
<ul class="navbar-nav ml-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark no-caret user-info" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @User.Identity?.Name?.Substring(0, User.Identity.Name.IndexOf("@"))
                @if (string.IsNullOrEmpty(UserManager.GetUserAsync(User).Result?.AvatarURL))
                {
                    <i class="bi bi-person-circle text-secondary" style="font-size: 30px;"></i>
                }
                else
                {
                    <img src="@UserManager.GetUserAsync(User).Result?.AvatarURL" alt="Avatar" class="rounded-circle" width="30" height="30" />
                }
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                @if (!isAdmin)
                {
                    <li>
                        <a class="dropdown-item user-info" asp-controller="User" asp-action="Index">
                            <i class="bi bi-person-circle text-secondary"></i> Profile
                        </a>
                    </li>
                }
                <li>
                    <form class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home")">
                        <button type="submit" class="btn btn-link text-dark text-decoration-none">
                            <i class="bi bi-box-arrow-right"></i> Logout
                        </button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="btn btn-outline-dark me-2" asp-area="Identity" asp-page="/Account/Login">
                <i class="bi bi-box-arrow-in-right me-1"></i>Sign In
            </a>
        </li>
        <li class="nav-item">
            <a class="btn btn-danger" asp-area="Identity" asp-page="/Account/Register">
                <i class="bi bi-person-plus me-1"></i>Sign Up
            </a>
        </li>
    }
</ul>
